<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        body {
            background: linear-gradient(135deg,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);

            color: #444;
            font: normal 1.2em Verdana,Arial,sans-serif;
            height: 100%;
            padding-bottom: 1px;
            padding-top: 64px;
        }

        .gallery {
            width:858px;
            margin:0 auto;
            color: #212121;
        }

        .gallery__title {
            font: normal 2em Arial,sans-serif;
            font-weight: 700;
            margin: 5px 5px 25px;
            padding: 0;
        }

        .gallery__image {
            float: left;
        }

        .gallery__image:hover img {
            border:3px solid #034F80;
        }

        .gallery__image img{
            margin:5px;
            border:3px solid #fff;
            float: left;
        }
    </style>
</head>
