<meta charset="UTF-8">
<title>{{ title }}</title>
<style>
    body {
        background: linear-gradient(135deg, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%) no-repeat;

        color: #444;
        font: normal 1.2em Verdana,Arial,sans-serif;
        padding-bottom: 1px;
        padding-top: 64px;
    }
</style>
