<html lang="ru">
<head>
    {% include 'head.html.twig' %}
    <style>
        .big-image {
            max-width: 90vw;
            margin: 0 auto;
        }

        .big-image__title {
            margin: 0;
            padding: 0 65px;
        }

        .big-image__back-link {
            display: block;
            margin: 35px 0 0 0;
            padding: 0 65px;
            color: #212121;
        }

        .big-image img {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 15px 65px;
        }
    </style>
</head>
<body>
<div class="big-image">
    <h1 class="big-image__title">Image {{ image.id}}</h1>
    <a href="/" class="big-image__back-link">Вернуться назад</a>

    <img src="./images/big/{{ image.src }}" alt="image {{ image.id }}">
</div>

</body>
</html>
